@import url(https://fonts.google.com/specimen/Outfit);
body {
    background-color:hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

  .container {
    width: 50vw;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
  }

  img {
    width: 100%;
    border-radius: 15px;
  }
  h1 {
    font-family: 'Young Serif', serif; 
    font-size:x-large;
    font-weight: 700; 
  }

  p {
    font-size: 16px;
  }
  
  #preparation {
    background-color:rgb(248, 234, 248);
    border-radius: 7px;
    padding: 7px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  .qtt {
    color: brown;
  }

  h2 {
    color: Brown;
    font-family: 'Young Serif', serif; 
    font-size:x-large;
    font-weight: 600; 
  }

  h3 {
    color:#9e2258;
  }

  ol li::marker {
    color:brown;
}

ul li::marker {
  color: brown;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px; 
}